
/* Importa estilos base */
@import url('styles.css');

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav a.active {
    background-color: purple;
    color: cyan;
}

.main-title {
    text-align: center;
    color: #ff0080; /* Cor rosa para o título principal */
    font-size: 36px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.section {
    width: 45%;
    color: #00ffff; /* Azul claro para o texto */
}

.section img {
    width: 100%;
    border: 3px solid #333;
    margin-top: 10px;
}

.title-batman,
.title-bruce {
    color: yellow;
    font-size: 24px;
    text-align: center;
}

.center-image {
    text-align: center;
    margin: 30px 0;
}

.title-personalidade {
    color: #bfbfbf; /* Cinza claro para o título "Personalidade" */
    font-size: 30px;
    text-transform: uppercase;
}

.center-image img {
    width: 15%;
    margin-top: 10px;
}

/* Estilo para o link dos vilões */
footer {
    text-align: center;
    margin-top: 40px;
}

footer a {
    font-size: 24px;
    color: #ff0080;
    text-decoration: none;
}
