/* gotham.css */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('raindrop-pattern.png'); /* Adicione uma imagem de gotas de chuva */
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #000;
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
        background: #2e2e8b;
    border-radius: 15px;
    transition: background 0.3s, color 0.3s;
}


/* Cores específicas para o texto de cada link */
nav a.home { color: green; text-shadow: 0 0 5px green, 0 0 10px green, 0 0 15px green; }
nav a.habilidades { color: yellow; text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow; }
nav a.aparencia { color: hotpink; text-shadow: 0 0 5px hotpink, 0 0 10px hotpink, 0 0 15px hotpink; }
nav a.viloes { color: red; text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red; }
nav a.gotham { color: blue; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue; }
nav a.filme { color: white; text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white; }

nav a:hover {
    color: #000;
    
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
    color: #e74c3c;
    text-shadow: 0 0 10px #e74c3c;
}

h2 {
    font-size: 1.5em;
    color: #1abc9c;
    text-shadow: 0 0 5px #1abc9c;
    margin: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

table {
    margin: 20px auto;
    width: 80%;
}

table td {
    padding: 0 20px; /* Adiciona espaço entre as imagens */
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

.caption {
    font-size: 1.2em;
    color: #e74c3c;
    text-transform: uppercase;
    margin-top: 5px;
    text-shadow: 0 0 5px #e74c3c;
}

/* Rótulos acima das informações */
.label {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffffff;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: #f39c12;
    text-shadow: 0 0 10px #f39c12;
}

