/* Estilos para o fundo e cores do texto */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 20px 0;
}

/* Estilo para o título principal e subtítulo */
#viloes h1 {
    color: #fd288d;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#viloes h2 {
    color: #004aad;
    font-size: 18px;
    text-align: center;
    margin-top: -10px;
}

nav a {
    background-color: #2e2e8b;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* Container dos vilões */
.vilao-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Estilos para os cartões dos vilões */
.vilao-card {
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vilao-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #ff00ff;
}

/* Nome dos vilões */
.vilao-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Botão de biografia */
.vilao-card p {
    margin-top: 10px;
}

.vilao-card a {
    display: inline-block;
    color: #ffde59;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.vilao-card a:hover {
    background-color: #ff00ff;
    color: black;
}

/* Estilos específicos de cada vilão */
#coringa .vilao-nome {
    color: #ff3131;
}

#pinguim .vilao-nome {
    color: #004aad;
}

#charada .vilao-nome {
    color: #00bf63;
}

#duas-caras .vilao-nome {
    color: #ffffff;
}

#mulher-gato .vilao-nome {
    color: #292929;
}
