/* Container dos vilões */
.vilao-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Wrapper para o nome e o card */
.vilao-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para os nomes dos vilões */
.vilao-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
    text-align: center;
}

.vilao-nome.coringa { color: #ff3131; text-shadow: 0 0 5px #ff3131, 0 0 10px #ff3131, 0 0 15px #ff3131; }
.vilao-nome.pinguim { color: #004aad; text-shadow: 0 0 5px #004aad, 0 0 10px #004aad, 0 0 15px #004aad; }
.vilao-nome.charada { color: #00bf63; text-shadow: 0 0 5px #00bf63, 0 0 10px #00bf63, 0 0 15px #00bf63; }
.vilao-nome.duas-caras { color: #ffffff; text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff; }
.vilao-nome.mulher-gato { color: #292929; text-shadow: 0 0 5px #292929, 0 0 10px #292929, 0 0 15px #292929; }

/* Estilos para os cartões dos vilões */
.vilao-card {
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease;
    padding-bottom: 10px; /* Espaço para o botão */
}

/* Imagens dos vilões - Inicialmente invisíveis */
.vilao-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease-in-out; /* Animação suave de transição */
    z-index: 1;
}

/* Efeito de hover para mostrar a imagem */
.vilao-card:hover img {
    opacity: 1; /* Torna a imagem visível quando o mouse passa por cima */
}

/* Cores de fundo específicas para cada vilão quando não está no hover */
#coringa { background-color: #ff3131; }
#pinguim { background-color: #004aad; }
#charada { background-color: #00bf63; }
#duas-caras { background-color: #ffffff; }
#mulher-gato { background-color: #292929; }

/* Botão de biografia abaixo da imagem */
.bio-button {
    display: inline-block;
    background-color: #0000ff;
    color: #ffde59;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 0 0 5px #ffde59, 0 0 10px #ffde59, 0 0 15px #ffde59;
    margin-top: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.bio-button:hover {
    color: black;
    text-shadow: none;
}
